* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2D2637;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
}

header {
    height: 70px;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}



.container {
    padding: 0 185px;
}

nav {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    padding: 10px 30px;
    flex-shrink: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D2637;
    z-index: 100;
}

nav .logo,
nav .logo a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

nav form {
    padding: 4px 20px;
    color: #fff;
    font-size: 24px;
}

nav form select,
nav form input[type="text"] {
    height: 30px;
    background-color: #2D2637;
    border: none;
    text-align: center;
    color: #959595;
    font-size: 18px;
    outline: none;
    border-bottom: 2px transparent solid;
}

nav form label:not(:first-of-type) {
    margin-left: 15px;
}

nav form input[type="text"]:focus {
    border-bottom-color: #959595;
    caret-color: #959595;
}

nav form #apply_filter {
    height: 30px;
    width: 60px;
    background-color: #16111C;
    border: none;
    border-radius: 10px;
    color: #959595;
    transition: 0.3s;
    cursor: pointer;
}

nav form #apply_filter:active,
nav form #apply_filter:focus,
nav form #apply_filter:hover {
    background-color: #959595;
    color: #16111C;
}

.tasks_container {
    display: grid;
    justify-content: space-between;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    min-height: 80%;
}

.tasks_container .task_card {
    padding: 20px 25px;
    background-color: #18131F;
    border-radius: 20px;
    flex-grow: 1;
}

.tasks_container .task_card.new_card {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250px;
    color: #2d2637;
}

footer {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0;
    text-align: center;
    background-color: #1E1E1E;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.task_card .task_title {
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.task_card .task_desc {
    text-align: center;
    font-size: 18px;
    color: #9385d7;
    text-overflow: ellipsis;
}

.task_card p {
    color: #fff;
    font-size: 15px;
}

.btn_container {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.btn_container a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #6363b0;
    color: #000;
    border-radius: 10px;
    font-size: 16px;
    text-transform: capitalize;
}

.task_page main>h1,
.task_page main form>h2 {
    text-align: center;
    color: white;
    margin-top: 10px;
    text-transform: capitalize;
}

.task_page main>h1 {
    font-size: 40px;
}

.task_page main form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task_page .input_container {
    display: grid;
    grid-template-columns: 200px 1fr;
}

.task_page .input_container label {
    color: #dfd9ff;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.task_page .input_container input,
.task_page .input_container textarea,
.task_page .input_container select {
    height: 30px;
    background-color: #463F4F;
    border: none;
    text-align: center;
    color: #eaeaea;
    font-size: 18px;
    outline: none;
    border-bottom: 2px transparent solid;
}

.task_page .input_container input:focus,
.task_page .input_container textarea:focus,
.subtask input[type="text"]:focus {
    border-bottom-color: #eaeaea;
    caret-color: #eaeaea;
}

#subtasks .subtask {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 50px;
}

.subtask * {
    background-color: #463F4F;
    border: none;
    outline: none;
    height: 100%;
    color: #eaeaea;
    transition: 0.5s;
    font-size: 16px;
}

.subtask .delete_subtask:hover {
    color: rgb(185, 53, 53);
    cursor: pointer;
}

#add_subtask,
#save_task,
#abort_changes {
    background-color: #463F4F;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: #2D2637;
    text-align: center;
}

#save_task,
#abort_changes {
    border-radius: 15px;
    transition: 0.2s;
}

#save_task:hover {
    background-color: rgb(8, 69, 8);
    color: rgb(161, 87, 164);
}

#abort_changes:hover {
    background-color: rgb(174, 51, 51);
    color: rgb(17, 15, 21);
}

input[type="datetime-local"] {
    z-index: 1;
}

@media (max-width:991px) {
    .container {
        padding: 0 120px;
    }
}

@media (min-width:575px) AND (max-width:1199px) {
    .tasks_container {
        display: grid;
        justify-content: space-between;
        gap: 15px;
        grid-template-columns: 1fr;
        min-height: 80%;
    }

    nav {
        height: fit-content;
        flex-direction: column;
        position: relative;
    }

    nav form select,
    nav form input[type="text"] {
        font-size: 15px;
    }

    nav form label {
        display: none;
    }

    header {
        margin-bottom: 5em;
    }

    footer {
        font-size: 13px;
    }

    .task_page .input_container {
        grid-template-columns: 150px 1fr;
    }

    .task_page .input_container input,
    .task_page .input_container textarea,
    .task_page .input_container select {
        min-width: fit-content;
    }

    .task_page .input_container label {
        color: #dfd9ff;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }

    .task_page main form {
        margin: 0 auto;
        width: fit-content;
    }

    .task_page header {
        margin-bottom: 3em;
    }
}

@media (min-width:768px) AND (max-width:1199px) {
    .tasks_container {
        display: grid;
        justify-content: space-between;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        min-height: 80%;
    }

    header {
        margin-bottom: 4em;
    }

    footer {
        font-size: 17px;
    }

    .task_page main form {
        width: 70%;
    }

    .task_page .input_container label {
        font-size: 26px;
    }
}

@media (max-width:1199px) {
    nav form {
        font-size: 26px;
    }

    nav form label {
        display: inline;
    }

    .tasks_container {
        grid-template-columns: repeat(3, 1fr);
    }
}