<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ task.Title if task else 'New Task' }}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="task_page">
    <header>
        <nav>
            <div class="logo">
                <a href="\">Taskey</a>
            </div>
        </nav>
    </header>
    <main>
        <h1>{{ task.Title if task else 'New Task' }}</h1>

        <form method="POST" action="{{ url_for('save_task', task_id=task.ID if task else 0) }}">
            <div class="input_container">
                <label for="title">Title:</label>
                <input type="text" name="title" value="{{ task.Title if task else '' }}" required>
            </div>
            <div class="input_container">
                <label for="description">Description:</label>
                <textarea name="description">{{ task.Description if task else '' }}</textarea><br>
            </div>
            <div class="input_container">
                <label for="start_date">Start Date:</label>
                <input id="start_date" type="date" name="start_date" value="{{task.StartDate if task else today}}"><br>
            </div>
            <div class="input_container">
                <label for="due_date">Due Date:</label>
                <input type="date" name="due_date" value="{{ task.DueDate if task else '' }}"><br>
            </div>
            <div class="input_container">
                <label for="status">Status:</label>
                <select name="status">
                    <option value="Not Started" {% if task and task.Status=='Not Started' %}selected{% endif %}>Not
                        Started
                    </option>
                    <option value="In Progress" {% if task and task.Status=='In Progress' %}selected{% endif %}>In
                        Progress
                    </option>
                    <option value="Completed" {% if task and task.Status=='Completed' %}selected{% endif %}>Completed
                    </option>
                </select><br>
            </div>
            <div class="input_container">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" value="{{ task.Category if task else '' }}"><br>
            </div>
            <div class="input_container">
                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
                    <option value="1" {{ 'selected' if task and task.Priority==1 }}>High</option>
                    <option value="2" {{ 'selected' if task and task.Priority==2 }}>Medium</option>
                    <option value="3" {{ 'selected' if task and task.Priority==3 }}>Low</option>
                </select><br>
            </div>
            <div class="input_container">
                <label for="reminder">Reminder:</label>
                <input type="datetime-local" id="reminder" name="reminder"
                    value="{{ task.Reminder if task else '' }}"><br>
            </div>
            <!-- Subtasks -->
            <h2>Subtasks</h2>

            <div id="subtasks">
                {% for subtask in subtasks %}
                <div class="subtask">
                    <input type="hidden" name="subtask_id_{{ loop.index }}" value="{{ subtask.ID }}">
                    <input type="text" name="subtask_title_{{ loop.index }}" value="{{ subtask.Title }}" required>
                    <select name="subtask_status_{{ loop.index }}">
                        <option value="Not Started" {% if subtask.Status=='Not Started' %}selected{% endif %}>Not
                            Started
                        </option>
                        <option value="In Progress" {% if subtask.Status=='In Progress' %}selected{% endif %}>In
                            Progress
                        </option>
                        <option value="Completed" {% if subtask.Status=='Completed' %}selected{% endif %}>
                            Completed
                        </option>
                    </select>

                    <input type="date" name="subtask_due_date_{{ loop.index }}" value="{{ subtask.DueDate }}">

                    <button type="button" class="delete_subtask" data-subtask-id="{{ subtask.ID }}">Delete
                        Subtask</button><br><br>
                </div>
                {% endfor %}
            </div>

            <button type="button" id="add_subtask">+</button><br>
            <input type="submit" value="Save Task" id="save_task"><br>
            <button type="button" id="abort_changes" data-task-id='{{ task.ID }}'>Abort Changes</button>
        </form>
    </main>
    <footer>
        created by Muhammed-Mahrous-Saleh - all right reserved © <span id="yearSpan"></span>
    </footer>
    <script src="../static/js/task.js"></script>
</body>

</html>